<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jerry.up.lala.cloud.server.system.mapper.RoleMenuMapper">

    <resultMap id="BaseResultMap" type="com.jerry.up.lala.cloud.server.system.entity.RoleMenu">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="tenantId" column="tenant_id" jdbcType="VARCHAR"/>
        <result property="roleId" column="role_id" jdbcType="BIGINT"/>
        <result property="menuId" column="menu_id" jdbcType="BIGINT"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="createUser" column="create_user" jdbcType="VARCHAR"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="updateUser" column="update_user" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,tenant_id,role_id,
        menu_id,create_time,create_user,
        update_time,update_user
    </sql>

    <insert id="insertBatch">
        insert into role_menu (id,role_id,menu_id,create_time,create_user,update_time,update_user) values
        <foreach collection="roleMenuCollection" item="item" separator=",">
            (#{item.id,jdbcType=BIGINT},#{item.roleId,jdbcType=BIGINT},#{item.menuId,jdbcType=BIGINT},
            #{item.createTime,jdbcType=TIMESTAMP},#{item.createUser,jdbcType=VARCHAR},#{item.updateTime,jdbcType=TIMESTAMP},#{item.updateUser,jdbcType=VARCHAR})
        </foreach>
    </insert>
</mapper>
